<div class="menu-icon" onclick="toggleMenu()">☰</div>
<div class="sidebar" id="sidebar">
    <div class="icon-group">
        <a class="icon-item" href="/">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/home.png" alt="Home">
            <span class="icon-text">首页</span>
        </a>
        <a class="icon-item" href="/tag">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/box.png" alt="Box">
            <span class="icon-text">TAG</span>
        </a>
        <a class="icon-item" href="/message">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/box.png" alt="Box">
            <span class="icon-text">留言箱</span>
        </a>
        <a class="icon-item" href="/audit">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/lubo.png" alt="shenhe">
            <span class="icon-text">审核界面</span>
        </a>
        <a class="icon-item" href="/addmusic">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/space.png" alt="harei-space">
            <span class="icon-text">音乐添加</span>
        </a>
    </div>
</div>