<div class="menu-icon" onclick="toggleMenu()">☰</div>
<div class="sidebar" id="sidebar">
    <div class="icon-group">
        <a class="icon-item" href="/">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/home.png" alt="Home">
            <span class="icon-text">首页</span>
        </a>
        <a class="icon-item" href="/songs">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/music.png" alt="Songs">
            <span class="icon-text">歌单</span>
        </a>
        <a class="icon-item" href="/box">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/box.png" alt="Box">
            <span class="icon-text">提问箱</span>
        <a class="icon-item" href="/gift">
            <img src="https://s1.hdslb.com/bfs/live/1e70a12a59c48fd29febe9db3ec9a930c39ffa07.png" alt="gift">
            <span class="icon-text">豆力巅峰榜</span>
        </a>
        <a class="icon-item" href="https://mzh.moegirl.org.cn/花礼" target="_blank">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/moegirl.png"alt="harei-moegirl">
            <span class="icon-text">了解花礼</span>
        </a>
        <a class="icon-item" href="https://space.bilibili.com/1048135385" target="_blank">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/space.png" alt="harei-space">
            <span class="icon-text">花礼的空间</span>
        </a>
        <a class="icon-item" href="https://live.bilibili.com/1820703922" target="_blank">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/stream.png" alt="harei-stream">
            <span class="icon-text">花礼的直播间</span>
        </a>
        <a class="icon-item" href="https://space.bilibili.com/3546636416452709" target="_blank">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/lubo.png" alt="harei-lubo">
            <span class="icon-text">花礼的录播号</span>
        </a>
        <a class="icon-item" href="https://space.bilibili.com/351708822" target="_blank">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/zuozhe.png" alt="zuozhe">
            <span class="icon-text">联系作者&获取源代码</span>
        </a>
    </div>
</div>
