<!-- templates/audit.html -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>审核界面</title>
    <link rel="icon" href="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/16x16.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/host.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/message.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/audit.css') }}">
    <title>花礼的审核界面</title>
</head>
<body>
    <div id="overlay" class="overlay"></div>
    <div class="background-layer" style="background-image: url('https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/harei-back.jpg');"></div>
    <div id="host-sidebar-container"></div>
    <div class="main-content">
        <div class="profile-section">
            <div class="container">
                <!-- 左侧会话列表 -->
                <div class="chat-list">
                    {% for chat in chat_data %}
                        <li><a href="#" class="chat-link" data-id="{{ chat.id }}">{{ chat.id }}-{{chat.date}}</a></li>
                    {% endfor %}
                </div>
        
                <!-- 右侧会话内容 -->
                <div class="chat-content">
                    {% for chat in chat_data %}
                        <div id="chat-{{ chat.id }}" class="chat-box" style="display: none;">
                            <h2>{{ chat.title }}</h2>
                            <p>{{ chat.msg }}</p>
                            
                            <!-- 遍历并显示所有与该消息关联的图片 -->
                            {% for image_url in chat.images %}
                                <img src="{{ image_url }}" alt="缩略图" class="thumbnail" data-full-image="{{ image_url }}">
                            {% endfor %}
                            <!-- 审核按钮放在右下角 -->
                            <div class="action-buttons">
                                <form action="{{ url_for('approve_message', message_id=chat.id) }}" method="POST">
                                    <button type="submit" class="approve-button">通过审核</button>
                                </form>
                                <form action="{{ url_for('reject_message', message_id=chat.id) }}" method="POST">
                                    <button type="submit" class="reject-button">删除留言</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- 模态框 -->
                    <div class="image-modal" style="display: none;">
                        <img id="modal-img" src="" alt="Large Image" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audit.js') }}"></script>
</body>
</html>
