<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/16x16.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sidebar.css') }}">
    <title>花礼harei的小空间</title>
</head>
<body>
    <div id="overlay" class="overlay"></div>
    <div class="background-layer" style="background-image: url('https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/harei-back.jpg');"></div>
    <div id="sidebar-container"></div>
    <div class="main-content">
        <div class="index-head">
            <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/avatar.jpg" alt="头像" class="avatar">
            <h1>花礼harei</h1>
        </div>
        <div class="url-banner">
            <a href="https://live.bilibili.com/1820703922">
                <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/bilibili.png" alt="长条图片" class="banner-img">
            </a>
            <p class="banner-text">直播间</p>
        </div>
        <div class="url-grid">
            <div class="grid-item">
                <a href="/songs">
                    <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/music.png" alt="方块图片1" class="grid-img">
                </a>
                <p class="grid-text">歌单</p>
            </div>
            <div class="grid-item">
                <a href="/box">
                    <img src="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/box.png" alt="方块图片2" class="grid-img">
                </a>
                <p class="grid-text">提问箱</p>
            </div>
        </div>
        <div class="random-text">
            <p id="randomText"></p>
        </div>
    </div>

    <script src="static/js/script.js"></script>
</body>
</html>
