<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='pic/32x32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='pic/16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sidebar.css') }}">
    <title>花礼harei的小空间</title>
</head>
<body>
    <div id="overlay" class="overlay"></div>
    <div class="background-layer" style="background-image: url('https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/harei-back.jpg');"></div>
    <div class="sidebar" id="sidebar">
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <div class="icon-group">
            <a class="icon-item" href="/">
                <img src="/static/pic/home.png" alt="Home">
                <span class="icon-text">首页</span>
            </a>
            <a class="icon-item" href="/songs">
                <img src="/static/pic/music.png" alt="Songs">
                <span class="icon-text">歌单</span>
            </a>
            <a class="icon-item" href="/box">
                <img src="/static/pic/box.png" alt="Box">
                <span class="icon-text">提问箱</span>
            <a class="icon-item" href="https://space.bilibili.com/1048135385" target="_blank">
                <img src="/static/pic/space.png" alt="harei-space">
                <span class="icon-text">花礼的空间</span>
            </a>
            <a class="icon-item" href="https://live.bilibili.com/1820703922" target="_blank">
                <img src="/static/pic/stream.png" alt="harei-stream">
                <span class="icon-text">花礼的直播间</span>
            </a>
            <a class="icon-item" href="https://space.bilibili.com/3546636416452709" target="_blank">
                <img src="/static/pic/lubo.png" alt="harei-lubo">
                <span class="icon-text">花礼的录播号</span>
            </a>
            <a class="icon-item" href="https://github.com/QianQiuZy/harei.cn" target="_blank">
                <img src="/static/pic/github.png" alt="GitHub">
                <span class="icon-text">源代码</span>
            </a>
            <a class="icon-item" href="https://space.bilibili.com/351708822" target="_blank">
                <img src="/static/pic/zuozhe.png" alt="zuozhe">
                <span class="icon-text">联系作者</span>
            </a>
        </div>
    </div>
    <div class="main-content">
        <div class="profile-section">
            <div class="profile-header">
                <img class="avatar" src="{{ url_for('static', filename='pic/avatar.jpg') }}" alt="头像">
                <h1>花礼harei</h1>
            </div>
            <h2>基本信息</h2>
            <ul>
                <li>本名：花礼</li>
                <li>昵称：鼠鼠、花札、王花礼</li>
                <li>发色：黑发</li>
                <li>瞳色：渐变瞳（上蓝下粉）</li>
                <li>身高：人身：155cm/鼠身：20cm</li>
                <li>年龄：2岁</li>
                <li>生日：3月1日</li>
                <li>星座：双鱼座</li>
                <li>萌点：鼠娘、兽耳、短发、病娇、尾巴、御姐、礼帽、领结、耳坠、手套、美人痣、心形呆毛</li>
                <li>个人状态：活动中</li>
            </ul>
            <h2>简介</h2>
            <p>
                    身为族长的千金，花礼在传承飞鼠一族胆小天性的同时又发自内心的热爱冒险，在这种冲动的驱使下，她以最高分的成绩成为冒险学院的第一只飞鼠并攻读动物心理学。
                三年时间悄然而过，为了完成毕业实践，花礼需要用1000元经费完成五十件从未做过的事情。刚出校园没几步，她便在街角发现一个神秘的书摊，只见那双马尾少女摊主手指一捻，如孔雀开屏一般在手中展开数本秘籍。
                “小朋友，我看你天赋异禀、骨骼惊奇，想来是百年难得一见的除灵天才。只需要999元，这些秘籍随便你挑。”
                “我买了！”少女干脆的掏出现金，从一堆书中随手抽出一本《灰仙速成》。
                不知是书有魔力还是花礼真的天赋异禀，她很快完成了除灵师的入门，还以吸尘器为基础炼成了自己的除灵法器，取名“小花”。
                在整本书的内容都学完后，少女回到书摊想要找老板换一本新书，却发现早已人去摊空，但这难不倒已经成为除灵师的花礼，只需灵视一扫，便寻到了摊主的踪迹，最终跟到了一家写着“VR”二字的可疑公司。
                在Boss办公室再次见到书摊老板，他手中不再是秘籍，而是一张油墨未干的合同。
                “你来了，我司目前正在组建除灵部，拓展业务顺便消耗一下预算，只要你来，直接升任新部门部长。”
                于是，新手除灵师花礼正式加入VirtuaReal并担任除灵部部长兼唯一员工，目前除灵委托无排单，随到随除，现到现吸。
            </p>
            <hr>
            <h2>花礼的喜好</h2>
            <ul>
                <li>唱歌</li>
                <li>毛茸茸的小动物（毛毛虫不算）</li>
                <li>探灵冒险</li>
                <li>恐怖GAME（除灵师的练习）</li>
                <li>吃小垃圾谷</li>
                <li>极限运动</li>
            </ul>
            
            <h2>关于GAME</h2>
            <ul>
                <li>喜欢恐怖解密类、FPS苦手但是感觉很酷、任何一种游戏都想尝试。</li>
            </ul>
            
            <h2>关于动漫</h2>
            <ul>
                <li>搞笑类无条件喜欢《pop子》、广阅美食番《迷宫饭》、以后打算做同步视听，看点有深度的动漫。</li>
            </ul>
            <h2>喜欢的食物</h2>
            <ul>
                <li>浆果</li>
                <li>无糖可乐</li>
                <li>辣的东西</li>
                <li>酸的东西</li>
                <li>季节性饮食</li>
            </ul>
            
            <h2>讨厌的食物</h2>
            <ul>
                <li>香菇</li>
                <li>除了薯条以外的土豆</li>
                <li>豆制品</li>
            </ul>
            
            <h2>缺点</h2>
            <ul>
                <li>3D眩晕【但是还是会尽量尝试的，为了猫猫什么都会玩的】</li>
                <li>怕毛毛虫</li>
                <li>深海恐惧症</li>
                <li>超绝拖延症</li>
                <li>画伯</li>
                <li>算数白痴</li>
            </ul>
            
            <h2>小目标</h2>
            <ul>
                <li>筹集冒险经费建立处理事务所</li>
                <li>除灵vlog可能性调研中</li>
                <li>按时投稿</li>
                <li>原创歌曲</li>
                <li>10w关注</li>
                <li>语言力激增</li>
                <li>3D化！</li>
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
