<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/16x16.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/songs.css') }}">
    <title>花礼的歌单</title>
</head>
<body>
    <div id="overlay" class="overlay"></div>
    <div class="background-layer" style="background-image: url('https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/harei-back.jpg');"></div>
    <div id="sidebar-container"></div>
    <div class="main-content">
        <div class="profile-section">
            <div class="search-area">
                <input type="text" id="search" placeholder="搜索...">
                <!-- <button id="search-button">搜索</button> --> <!-- 已改为实时搜索，弃用按钮 -->
            
                <!-- 选择风格的下拉菜单 -->
                <select id="genre-select">
                    <option value="">选择风格</option>
                </select>
            
                <!-- 选择语言的下拉菜单 -->
                <select id="language-select">
                    <option value="">选择语言</option>
                </select>
            </div>

            <div class="song-table">
                <div class="table-header">
                    <span class="title">歌曲名称</span>
                    <span class="artist">歌手</span>
                    <span class="type">类型</span>
                    <span class="language">语言</span>
                    <span class="note">备注</span>
                </div>
                <div class="table-content" id="song-table-content">
                    <!-- 动态加载的歌曲将插入到这里 -->
                </div>
            </div>
        </div>
    </div>

    <!-- 引入外部JavaScript文件 -->
    <script src="static/js/script.js"></script>
    <script src="static/js/songs.js"></script>
</body>
</html>
