<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='pic/32x32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='pic/16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/songs.css') }}">
    <title>花礼的歌单</title>
</head>
<body>
    <div id="overlay" class="overlay"></div>
    <div class="background-layer" style="background-image: url('https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/harei-back.jpg');"></div>
    
    <div id="sidebar-container"></div>

    <div class="main-content">
        <div class="profile-section">
            <div class="search-area">
                <input type="text" id="search" placeholder="搜索...">
            </div>

            <div class="song-table">
                <div class="table-header">
                    <span class="song-name">歌曲名称</span>
                    <span class="artist-name">歌手</span>
                    <span class="album-name">专辑</span>
                    <span class="release-date">发行日期</span>
                    <span class="duration">时长 (秒)</span>
                </div>
                <div class="table-content" id="song-table-content">
                    <!-- 动态加载的歌曲将会插入到这里 -->
                </div>
            </div>
        </div>
    </div>


    <script src="static/js/script.js"></script>
    <script src="static/js/songs.js"></script>
</body>
</html>
