<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='pic/32x32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='pic/16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/songs.css') }}">
    <link rel="stylesheet" href="/static/CSS/APlayer.min.css">
    <title>花礼的歌单</title>
</head>
<body>
    <div id="overlay" class="overlay"></div>
    <div class="background-layer" style="background-image: url('https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/harei-back.jpg');"></div>
    
    <div id="sidebar-container"></div>

    <div class="main-content">
        <div class="profile-section">
            <div class="search-area">
                <input type="text" id="search" placeholder="搜索...">
            </div>

            <div class="song-table">
                <div class="table-header">
                    <span class="song-name">歌曲名称</span>
                    <span class="artist-name">歌手</span>
                    <span class="album-name">专辑</span>
                    <span class="release-date">发行日期</span>
                    <span class="duration">时长 (秒)</span>
                </div>
                <div class="table-content" id="song-table-content">
                    <!-- 动态加载的歌曲将会插入到这里 -->
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="APlayer.min.css">
            <div id="aplayer" class="offset-top">
            </div>
        <script src="/static/js/APlayer.min.js"></script>
    </div>





    <script src="static/js/script.js"></script>
    <script src="static/js/songs.js"></script>
    <script>
    const ap = new APlayer({
        container: document.getElementById('aplayer'),
        mini: false,
        autoplay: false,
        theme: '#FADFA3',
        loop: 'all',
        order: 'random',
        preload: 'auto',
        volume: 0.7,
        mutex: true,
        listFolded: false,
        listMaxHeight: 90,
        lrcType: 3,
        audio: [
            {
                name: '恋愛サーキュレーション',
                artist: '花泽香菜',
                url: '/static/music/Kana.mp3',
                cover: '/static/pic/kana.jpeg',
                lrc: '/static/music/lrctest',
                theme: '#ebd0c2'
            },
            {
                name: '白金ディスコ',
                artist: '井口裕香',
                url: '/static/music/Disco.mp3',
                cover: '/static/pic/disco.jpeg',
                lrc: '/static/music/lrc2',
                theme: '#46718b'
            }
        ]
    });
    </script>
</body>
</html>
