<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TAG</title>
  <link rel="icon" href="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/16x16.png" sizes="16x16" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/manage_tags.css') }}">
</head>
<body>
  <div id="overlay" class="overlay"></div>
  <div class="background-layer" style="background-image: url('https://qianqiuzy-1313476938.cos.ap-shanghai.myqcloud.com/harei-back.jpg');"></div>
  <div id="host-sidebar-container"></div>
  <div class="main-content">
    <div class="profile-section">
      <h1>TAG</h1>
      <div class="tag-management">
        <!-- 增加TAG部分 -->
        <div class="add-tag">
          <input type="text" id="new-tag" placeholder="请输入新TAG">
          <button id="add-tag-btn" class="btn">增加TAG</button>
        </div>
        <!-- 显示所有TAG列表 -->
        <div class="tag-list">
          <ul id="tag-list">
            {% for tag in tags %}
            <li>
              <span class="tag-name">{{ tag.tag_name }}</span>
              <button class="delete-tag-btn btn" data-tag="{{ tag.tag_name }}">删除</button>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/tag.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
